body {
    background-color: white;
    color: black;
}
nav {
    background-color: #0080ff;
    color: white;
}
a.navlink{
    color: white;
    font-style: normal;
    text-decoration: none;
    padding: 5pc;
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
    table{
        border-color:white;
    }
  
    th, td{
        border-color:white;
    }
}